<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="'Instagram account ' + ${instagramAccount.username}">Instagram account</title>

    <div th:replace="fragments/resources :: resources">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"
              th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                th:src="@{/webjars/jquery/3.3.1-2/jquery.slim.min.js}"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
              th:href="@{/webjars/font-awesome/5.7.2/css/all.css}"
              integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
              crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    </div>
</head>
<body class="pt-5">
<div th:replace="fragments/header :: header">..</div>

<!--/*@thymesVar id="instagramAccount" type="com.antongrizli.instagram.commands.InstagramAccountCommand"*/-->
<!--/*@thymesVar id="userCommand" type="com.antongrizli.instagram.commands.UserCommand"*/-->
<div class="container pt-5 px-3  col-6">
    <div class="row">
        <div class="bg-light rounded">
            <div class="row">
                <div class="col mh-100">
                    <a href="http://critterapp.pagodabox.com/others/admin"
                       th:href="${instagramAccount.accountUrl}"
                       class="thumbnail">
                        <img class="w-25 m-3 rounded"
                             src="https://3c1703fe8d.site.internapcdn.net/newman/csz/news/800/2017/imageapartia.png"
                             th:src="${instagramAccount.imageUrl}"
                             alt="">
                    </a>
                </div>
                <div class="col mt-1">
                    <div class="row">
                        <div class="col">
                            <div class="btn-group" role="group" aria-label="Action group">
                                <a class="btn badge badge-success"
                                   href="/instagram/insta_accoutn/job/liking"
                                   th:href="@{'/instagram/' + ${instagramAccount.username} + '/job/liking'}">Liking</a>
                                <a class="btn badge badge-info"
                                   href="/instagram/insta_accoutn/task"
                                   th:href="@{'/instagram/' + ${instagramAccount.username} + '/task'}">Tasks</a>
                                <a class="btn badge badge-danger"
                                   href="#"
                                   th:href="@{'#'}">TODO</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <p><strong class="mx-2" th:text="${instagramAccount.fullName}">First Last Name</strong></p>
                    <a class="mx-1 button col-md-3 badge badge-warning"
                       th:text="${instagramAccount.posts} + ' posts'"
                       href="/instagram/insta_accoutn/posts"
                       th:href="@{'/instagram/' + ${instagramAccount.username} + '/posts'}">8
                        posts</a>
                    <a class="mx-1 button col-md-3 badge badge-info"
                       th:text="${instagramAccount.followerCount} + ' followers'"
                       href="/instagram/insta_accoutn/followers"
                       th:href="@{'/instagram/' + ${instagramAccount.username} + '/followers'}">15
                        followers</a>
                    <a class="mx-1 button col-md-3 badge badge-secondary"
                       th:text="${instagramAccount.followingCount} + ' following'"
                       href="/instagram/insta_accoutn/following"
                       th:href="@{'/instagram/' + ${instagramAccount.username} + '/following'}">15
                        following</a>
                    <a class="mx-1 button col-md-3 badge badge-success"
                       th:text="'Mutual'"
                       href="/instagram/insta_accoutn/mutual"
                       th:href="@{'/instagram/' + ${instagramAccount.username} + '/mutual'}">15
                        mutual</a>
                    <a class="mx-1 button col-md-3 badge btn-danger"
                       th:text="'Unmutual'"
                       href="/instagram/insta_accoutn/unmutual"
                       th:href="@{'/instagram/' + ${instagramAccount.username} + '/unmutual'}">15
                        unmutual</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer">..</div>
</body>
</html>