<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="@{'Instagram job'}">Instagram job</title>

    <div th:replace="fragments/resources :: resources">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"
              th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                th:src="@{/webjars/jquery/3.3.1-2/jquery.slim.min.js}"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
              th:href="@{/webjars/font-awesome/5.7.2/css/all.css}"
              integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
              crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    </div>
</head>
<body class="pt-5">
<div th:replace="fragments/header :: header">..</div>
<div class="container">
    <form th:action="@{'/instagram/' + ${instagramId} + '/sync'}"
          class="form-horizontal p-lg-5" role="form" method="POST" action="/instagram/instagram_id/sync">
        <button type="submit" class="btn btn-primary">Synchronize</button>
    </form>
</div>
<!--/*@thymesVar id="followerUser" type="com.antongrizli.instagram.commands.InstagramFollowerUserCommand"*/-->
<div class="container" th:each="followerUser: ${followerUsers}">
    <div class="container my-4 border border-secondary rounded">
        <a href="#" th:href="@{'https://instagram.com/'+ ${followerUser.username}}"><h2 class="my-5 h2"
                                                                                           th:text="${followerUser.username}">
            konikoffs</h2></a>
        <!--Grid row-->
        <div class="row text-center border-secondary">

            <!--Grid column-->
            <div class="col-md-6 mb-4 align-self-center">
                <a href="#"><img class="rounded-circle" alt="100x100"
                                 src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                                 th:src="${followerUser.pictureUrl}"
                                 data-holder-rendered="true"></a>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4 align-self-center">
                <form th:action="@{'/instagram/' + ${instagramId} + '/unfollow'}"
                      class="form-horizontal p-lg-5" role="form" method="POST" action="/instagram/instagram_id/unfollow">
                    <input type="hidden" name="instagram_pk" th:value="${followerUser.instagramPk}" value="123456" />
                    <button type="submit" class="btn btn-danger btn-lg btn-block">Unfollow</button>
                </form>
                <button type="button"
                        class="btn  btn-lg btn-block"
                        th:classappend="${followerUser.isFavorite} ? btn-warning : btn-secondary">Favorite ⭐
                </button>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->


    </div>

    <div th:remove="all" class="container my-4 border border-secondary rounded">
        <a href="#"><h2 class="my-5 h2">konikoffs</h2></a>
        <!--Grid row-->
        <div class="row text-center border-secondary">

            <!--Grid column-->
            <div class="col-md-6 mb-4 align-self-center">
                <a href="#"><img class="rounded-circle" alt="100x100"
                                 src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                                 data-holder-rendered="true"></a>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4 align-self-center">
                <button type="button" class="btn btn-danger btn-lg btn-block">Unfollow</button>
                <button type="button" class="btn btn-warning btn-lg btn-block">Favorite ⭐</button>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->
    </div>
</div>

</div>
<div th:replace="fragments/footer :: footer">..</div>
</body>
</html>