<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="@{'Instagram ' +${command.pageTitle} + ' job'}">Instagram job</title>

    <div th:replace="fragments/resources :: resources">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"
              th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                th:src="@{/webjars/jquery/3.3.1-2/jquery.slim.min.js}"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
              th:href="@{/webjars/font-awesome/5.7.2/css/all.css}"
              integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
              crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    </div>
</head>
<body class="pt-5">
<div th:replace="fragments/header :: header">..</div>

<!--/*@thymesVar id="command" type="com.antongrizli.instagram.commands.IntsagramJobCommand"*/-->

<div class="container">
    <form action="#"
          th:action="@{'/instagram/'+ ${insta_login} + '/job/' + ${command.pageTitle}}"
          th:object="${command}"
          method="post">
        <div class="form-group">
            <label>Tags</label>
            <div th:each="tag, itemStat : *{tags}">
                <input type="text" class="form-control mb-1"
                       aria-describedby="emailHelp" placeholder="Tag"
                       th:field="*{tags[__${itemStat.index}__]}">
            </div>
            <small class="form-text text-muted">Please specify tag</small>
        </div>
        <div class="form-group">
            <label>Locations</label>
            <div th:each="location, itemStat : *{locations}">
                <input type="text" class="form-control mb-1" placeholder="Location"
                       th:field="*{locations[__${itemStat.index}__]}">
            </div>
            <small class="form-text text-muted">Please specify locations</small>
        </div>
        <div class="form-group">
            <label for="number">Please set number of actions</label>
            <input type="number" class="form-control" min="10" step="1" id="number"
                   th:field="*{number}">
        </div>
        <div class="form-group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked" th:checked="${command.isFollow}">
            <label class="custom-control-label" for="defaultUnchecked">Would you like to follow?</label>
        </div>
        <button type="submit" class="btn btn-primary">Start</button>
    </form>
</div>

<div th:replace="fragments/footer :: footer">..</div>
</body>
</html>