<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login page</title>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          th:href="@{/webjars/font-awesome/5.7.2/css/all.css}"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body class="pt-5">

<div class="d-flex container-fluid justify-content-center col-sm-4 pt-5 px-3" th:fragment="instagram-login">
    <div class="card">
        <article class="card-body">
            <h4 class="card-title mb-4 mt-1">Sign in</h4>
            <hr>
            <p class="text-center">Please type your login and password for Instagram</p>
            <!--/*@thymesVar id="instagramCredentials" type="com.antongrizli.instagram.commands.InstagramCredentialsCommand"*/-->
            <form th:object="${instagramCredentials}" th:action="@{'/instagram/auth/login'}" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i></span>
                        </div>
                        <input th:field="*{login}" name="" class="form-control" placeholder="Email or login"
                               type="text">
                    </div> <!-- input-group.// -->
                    <p th:each="error: ${#fields.errors('login')}"
                       th:text="${error}">Validation error</p>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input id="password-input-instagram" th:field="*{password}" class="form-control"
                               placeholder="******" type="password">
                        <span class="input-group-btn">
                            <button class="btn btn-default reveal" type="button" onclick="function showPassword() {
                                    var x = document.getElementById('password-input-instagram');
                                    if (x.type === 'password') {
                                        x.type = 'text';
                                    } else {
                                        x.type = 'password';
                                    }
                                }
                        showPassword()">
                                <i class="fas fa-eye"></i>
                            </button>
                        </span>
                    </div> <!-- input-group.// -->
                    <p th:each="error: ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div> <!-- form-group// -->
            </form>
        </article>
    </div> <!-- card.// -->
</div>

</body>
</html>