<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Instagram posts</title>

    <div th:replace="fragments/resources :: resources">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"
              th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                th:src="@{/webjars/jquery/3.3.1-2/jquery.slim.min.js}"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
              th:href="@{/webjars/font-awesome/5.7.2/css/all.css}"
              integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
              crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    </div>
</head>
<body class="pt-5">
<div th:replace="fragments/header :: header">..</div>

<!--/*@thymesVar id="instagramAccount" type="com.antongrizli.instagram.commands.InstagramAccountCommand"*/-->
<!--/*@thymesVar id="instagramPostCommand" type="com.antongrizli.instagram.commands.InstagramPostCommand"*/-->
<div class="container pt-5 px-3 col-6">
    <div class="row">
        <picture class="pb-4" th:each="instagramPostCommand : ${postCommandList}">
            <div>
                <img src="https://store-images.s-microsoft.com/image/apps.47565.9007199266243744.cfeec85e-4e64-426d-8d46-f6fa0c8fbba6.d51b0c1c-1cf7-4db5-b90c-0b2414410c86?mode=scale&q=90&h=1080&w=1920"
                     class="img-fluid img-thumbnail" alt="..."
                     th:src="${instagramPostCommand.picUrl}">
            </div>

            <a href="/insta_user/post/post_id/likes">
                <button type="button" class="btn btn-danger">
                    Likes <span class="badge badge-light" th:text="${instagramPostCommand.likesCount}">9</span>
                </button>
            </a>
            <a href="/insta_user/post/post_id/comments">
                <button type="button" class="btn btn-danger">
                    Comments <span class="badge badge-light" th:text="${instagramPostCommand.commentCount}">9</span>
                </button>
            </a>
        </picture>

        <picture th:remove="all">
            <div>
                <img src="https://store-images.s-microsoft.com/image/apps.47565.9007199266243744.cfeec85e-4e64-426d-8d46-f6fa0c8fbba6.d51b0c1c-1cf7-4db5-b90c-0b2414410c86?mode=scale&q=90&h=1080&w=1920"
                     class="img-fluid img-thumbnail" alt="...">
            </div>

            <button type="button" class="btn btn-danger">
                Likes <span class="badge badge-light" th:text="">9</span>
            </button>
            <button type="button" class="btn btn-danger">
                Comments <span class="badge badge-light" th:text="">9</span>
            </button>
        </picture>

        <input type="button" class="btn btn-link" onclick="location.href='http://google.com';"
               th:onclick="@{'location.href=\'/instagram/' + ${instagramAccount.username} + '/posts\';'}"
               value="Main page" />
        <input type="button" class="btn btn-link" onclick="location.href='http://google.com';"
               th:onclick="@{'location.href=\'/instagram/' + ${instagramAccount.username} + '/posts?next_max_id=' + ${next_max_id} +'\';'}"
               value="Next page" />
    </div>

</div>

<div th:replace="fragments/footer :: footer">..</div>
</body>
</html>