<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Show all your accounts</title>

    <div th:replace="fragments/resources :: resources"></div>
</head>
<body class="pt-5">
<div th:replace="fragments/header :: header">..</div>

<div th:replace="instagram/login :: instagram-login">..</div>

<!--/*@thymesVar id="instagramInstance" type="com.antongrizli.instagram.domain.InstagramInstance"*/-->
<!--/*@thymesVar id="instagramCredentials" type="com.antongrizli.instagram.commands.InstagramCredentialsCommand"*/-->
<!--/*@thymesVar id="userCommand" type="com.antongrizli.instagram.commands.UserCommand"*/-->
<div class="table-responsive" th:if="${not #lists.isEmpty(instagramInstanceList)}">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Login</th>
            <th scope="col">Expiry</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="instagramInstance, iterStat : ${instagramInstanceList}">
            <td scope="row" th:text="${iterStat.index} + 1">#</td>
            <td>
                <a th:href="@{'/instagram/' + ${instagramInstance.username}}"
                   href="/instagram/username"
                   th:text="${instagramInstance.username}">instagram_login</a>
            </td>
            <td th:text="${instagramInstance.expiry}">11/03/2019 - 6:51:49</td>
            <td><a th:href="'/instagram/auth/logout/'+ ${instagramInstance.id}"
                   href="/instagram/auth/logout/1">Logout</a></td>
        </tr>
        <tr th:remove="all">
            <th scope="row">1</th>
            <td>ivan</td>
            <td>No</td>
            <td><a href="/instagram/auth/logout/1">Logout</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/footer :: footer">..</div>
</body>
</html>