<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Task'">Title</title>

    <div th:replace="fragments/resources :: resources"></div>
</head>
<!--/*@thymesVar id="userCommand" type="com.antongrizli.instagram.commands.UserCommand"*/-->
<!--/*@thymesVar id="taskCommand" type="com.antongrizli.instagram.commands.TaskCommand"*/-->
<body class="pt-5">
<div th:replace="fragments/header :: header">..</div>

<div class="container pt-3">
    <form th:action="@{'/instagram/' + ${instagramLogin} + '/task'}"
          th:object="${taskCommand}" method="post">
        <div class="form-group row">
            <div class="input-group col-md-6">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputTaskName">Task name</label>
                </div>
                <input type="hidden" th:field="*{id}" />
                <input type="text" class="form-control" id="inputTaskName" placeholder="Task name"
                       th:field="*{taskName}">
            </div>
            <div class="input-group col-md-6">
                <div class="input-group-prepend">
                    <label class="input-group-text">Periodicity</label>
                </div>

                <select class="custom-select" th:field="*{periodicity}">
                    <option th:each="periodicity : ${T(com.antongrizli.instagram.domain.Frequency.Periodicity).values()}"
                            th:value="${periodicity}"
                            th:text="${periodicity.text}">
                    </option>
                </select>

                <div class="input-group-append">
                    <label class="input-group-text" for="inputEach">Each</label>
                </div>
                <input type="text" class="form-control" id="inputEach" placeholder="Each"
                       th:field="*{periodicityValue}">
            </div>
        </div>
        <div class="form-group row">
            <div class="input-group col-md-6">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputTaskStatus">Status</label>
                </div>
                <input type="text" class="form-control" id="inputTaskStatus" placeholder="Current status" readonly
                       th:field="*{status}">
            </div>
            <div class="input-group col-md-6">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputTAG">TAG</label>
                </div>
                <input type="text" class="form-control" id="inputTAG" placeholder="Tag"
                       th:field="*{tag}">
            </div>
        </div>
        <div class="form-group row">
            <div class="input-group col-md-12">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputCommentArea">Comment</label>
                </div>
                <textarea class="form-control" id="inputCommentArea" rows="3"
                          placeholder="Write a comment if it's required"
                          th:field="*{comment}"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="input-group col-md-6">
                <div class="input-group-prepend">
                    <label class="input-group-text">Action</label>
                </div>

                <select class="custom-select" th:field="*{action}">
                    <option th:each="action : ${T(com.antongrizli.instagram.domain.enums.TaskAction).values()}"
                            th:value="${action}"
                            th:text="${action.text}">
                    </option>
                </select>
            </div>
            <div class="input-group col-md-6">
                <button type="submit" class="btn btn-primary btn-block">Save</button>
            </div>
        </div>
    </form>
</div>

<div th:replace="fragments/footer :: footer">..</div>
</body>
</html>