<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Show all tasks available for ' + ${instagramLogin}">Show all tasks available for user</title>

    <div th:replace="fragments/resources :: resources"></div>
</head>
<body class="pt-5">
<div th:replace="fragments/header :: header">..</div>

<div class="container-fluid d-flex justify-content-start pt-3">
    <a href="#" th:href="@{'/instagram/' + ${instagramLogin} + '/task/new'}"
       class="btn btn-primary" role="button" aria-disabled="true">Schedule new a task</a>
</div>

<div class="table-responsive pt-2">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Task name</th>
            <th scope="col">Frequency</th>
            <th scope="col">Action</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="taskCommand" type="com.antongrizli.instagram.commands.TaskCommand"*/-->
        <tr th:each="taskCommand : ${taskCommandList}">
            <th scope="row" th:text="${taskCommand.id}">1</th>
            <td><a th:href="${'/instagram/' + instagramLogin + '/task/' + taskCommand.id}"
                   th:text="${taskCommand.taskName}">Task #1</a></td>
            <td th:text="${taskCommand.periodicity.text + ' ' + taskCommand.periodicityValue}">Each day</td>
            <td th:text="${taskCommand.action.text}">Follow, Like, Leave message</td>
            <td>
                <a th:href="${'/instagram/' + instagramLogin + '/task/' + taskCommand.id + '/delete'}">Delete</a>
            </td>
        </tr>
        <tr th:remove="all">
            <th scope="row">1</th>
            <td><a href="/instagram/auth/logout/1">Task #1</a></td>
            <td>Each day</td>
            <td>Follow, Like, Leave message</td>
            <td><a href="/instagram/auth/logout/1">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/footer :: footer">..</div>
</body>
</html>